#exemplo{
    display: flex;
    flex-direction: row;
}

#card {
    border: 2px solid black;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    margin: 2px;
    padding: 10px;
}