<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Cursos da Fatec Sorocaba</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Cursos da Fatec Sorocada</h1>
    <ol>
        <li>Análise e Desenvolvimento de Sistemas</li>
        <li>Gestão de Qualidade</li>
        <li>Mecânica</li>
        <li>Processos Biomédicos</li>
        <li>Polímeros</li>
    </ol>
  </body>
</html>