<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Professores da Fatec Sorocaba</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Lista de Professores:</h1>
    <ol>
        <li>Denilce</li>
        <li>Ana Carolinda</li>
        <li>Levi</li>
        <li>Maria Angélica</li>
        <li>Jensen</li>
        <li>Jefferson</li>
    </ol>
  </body>
</html>